@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #00a000;
  --color-secondary:#1f1f1f;
  --color-accent:#00f00020;
  --color-neutral:#fff;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #00a000;
  --color-secondary:#e0e0e0;
  --color-accent:#00a00020;
  --color-neutral:#000; 
}
