@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #0A70a9;
  --color-secondary:#00a000;
  --color-accent:#fff;
  --color-neutral:#000;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #0f7faf;
  --color-secondary:#78C841;
  --color-accent:#000;
  --color-neutral:#fff;
}