@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0A70a9;
  --color-secondary:#00a000;
  --color-accent:#fff;
  --color-neutral:#000;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: red;
  --color-secondary:#00ff00;
  --color-accent:#fff;
  --color-neutral:#000;
}